.app {
  text-align: center;

  .container {
    margin-top: 32px;
  }

  a {
    text-decoration: none;
  }

  header {
    .logo {
      flex: 1 1 auto;
      text-align: left;
  
      a {
        color: white;
        font-size: x-large;
        text-transform: uppercase;
        font-weight: bold;
  
        &::hover,
        &::active,
        &::visited,
        &::focus {
          color: white;
        }
      }
    }

    .text-divider {
      padding: 0 10px;
    }

    .toggle-switch {
      position: relative;

      label {
        position: absolute;
        top: -8px;
        right: 0;
        text-align: right;
        font-size: smaller;
        white-space: nowrap;
        opacity: 0.5;
      }

      .MuiSwitch-colorSecondary.Mui-checked {
        color: #f06292;

        + .MuiSwitch-track {
          background-color: #f06292;
        }
      }
    }
  }


  pre {
    width: 100%;
    text-align: left;

    code {
      display: block;
      max-width: 100%;
      white-space: break-spaces;
      font-size: 14px;
    }
  }

  form {
    padding: 8px;
  }

  .MuiCard-root {
    margin-top: 10px;
  }

  .add-button {
    position: fixed;
    bottom: 30px;
    right: 30px;

    a {
      color: inherit;
    }
  }
  
  .link-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: inherit;
  }
}
