.move-list {
    background: lightsteelblue;
    display: flex;
    flex-flow: row wrap;
    padding-right: 80px;
    position: sticky;
    top: 1;
    z-index: 2;

    .move-items-button {
        position: absolute;
        right: 10px;
    }
}