.view-item {
    .actions {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .parent-item-link {
        flex: 1 1 auto;
        max-width: calc(100% - 165px);
        margin-right: 40px;
        background-color: white;

        &::hover,
        &::focus {
            background-color: #fbfbfb;
        }

        a {
            color: inherit;
        }
    }

    .image-link,
    .file-link {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin: 20px 10px 0;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}