.edit-form {
    #icon-button-file {
        display: none;
    }

    .notes {
        margin: 10px 0;
    }

    .save-button {
        margin: 20px;
    }

    .upload-button {
        display: block;
        margin-bottom: 20px;
    }
}